*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

section {
    width: 414px;
    height: 896px;
    border: 1px solid #ccc;
}