*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.mobile {
    width: 390px;
    height: 844px;
    border: 1px solid #ccc;
}

header {
    height: 85vh;

    nav {
        height: 70px;
        display: flex;
        align-items: center;

        button {
            height: 50px;
            border-color: rgb(131, 37, 37);
        }
    }

    .home-div {
        padding: 55px 24px;

        .date {
            margin-top: 30px;
        }
    }
}

section {
    margin-top: 20px;

    .row {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .program {
        display: flex;

    }
}